h1{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:32px;
    letter-spacing:0em;
    font-family:Montserrat;
    font-weight:300;
    font-style:normal;
    font-size:100px;
    letter-spacing:.11em;
    line-height:1em;
    text-transform:none;
    margin: 0px;
    text-transform:uppercase
}
body { margin: 0; padding: 0; border: 0; min-width: 320px; color: #777; font-family: ff-meta-serif-web-pro; font-weight: 500; font-size: 16px; letter-spacing: 0.01em; color: #292929;}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.02em; }
p, td { line-height: 1.5; }

th { white-space: nowrap;}
th, td { padding: 10px; text-align: left; vertical-align: top; font-size: .9em; font-weight: normal; border-right: 1px solid #fff; }

@media screen and (max-width:640px){
    h1{
        font-size:32px;
        letter-spacing:.0352px
    }
}
h2{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:24px;
    letter-spacing:0em;
    line-height:1.2em;
    font-family:Montserrat;
    font-weight:400;
    font-style:normal;
    font-size:35px;
    letter-spacing:-.01em;
    line-height:1em;
    text-transform:none;
    margin-top: 0px;

}
@media screen and (max-width:640px){
    h2{
        font-size:28px;
        letter-spacing:-.008px
    }
}
h3{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:18px;
    letter-spacing:0em;
    line-height:1.2em;
    text-transform:none;
    font-family:Montserrat;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    letter-spacing:.15em;
    line-height:1.6em;
    text-transform:uppercase
}
h1+h1,h1+h2,h1+h3,h2+h1,h2+h2,h2+h3,h3+h1,h3+h2,h3+h3{
    margin-top:15px
}
h1{
    color:#fff
}
h1 a{
    padding-bottom:.05em;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(112,112,112,.3);
    -webkit-transition:border-color .15s ease-out,color .15s ease-out;
    -moz-transition:border-color .15s ease-out,color .15s ease-out;
    -ms-transition:border-color .15s ease-out,color .15s ease-out;
    -o-transition:border-color .15s ease-out,color .15s ease-out;
    transition:border-color .15s ease-out,color .15s ease-out
}
h1 a:hover{
    color:rgba(112,112,112,.6);
    border-color:rgba(112,112,112,.15)
}
h2{
    color:#000
}
h2 a{
    padding-bottom:.05em;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(0,0,0,.3);
    -webkit-transition:border-color .15s ease-out,color .15s ease-out;
    -moz-transition:border-color .15s ease-out,color .15s ease-out;
    -ms-transition:border-color .15s ease-out,color .15s ease-out;
    -o-transition:border-color .15s ease-out,color .15s ease-out;
    transition:border-color .15s ease-out,color .15s ease-out
}
h2 a:hover{
    color:rgba(0,0,0,.6);
    border-color:rgba(0,0,0,.15)
}
h3{
    color:#1c1c1c
}
h3 a{
    padding-bottom:.05em;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(28,28,28,.3);
    -webkit-transition:border-color .15s ease-out,color .15s ease-out;
    -moz-transition:border-color .15s ease-out,color .15s ease-out;
    -ms-transition:border-color .15s ease-out,color .15s ease-out;
    -o-transition:border-color .15s ease-out,color .15s ease-out;
    transition:border-color .15s ease-out,color .15s ease-out
}
h3 a:hover{
    color:rgba(28,28,28,.6);
    border-color:rgba(28,28,28,.15)
}
@media screen and (max-width:640px){
    h1,h2,h3{
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        -ms-hyphens:auto;
        hyphens:auto
    }
}
a{
    color:inherit;
    text-decoration:none
}
a:active,a:focus{
    outline:0
}

em {
    font-style: italic;
}
hr { 
  border: 0; 
  height: 0.2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
Link{

}
.main-content {
    padding: 80px 61px;
}

.table-container {
    padding: 100px 61px 80px;
    text-align: center;
}

.table {
    margin: 0 auto;
    width: 75%;
    border-collapse: collapse;
}

thead.table{
    border-bottom: 1px solid lightblue;
    background-color: white;
}

.table-element{
    border-right: 1px solid lightblue;
}

.table-link{
    padding-left: 20px;
}
.table-link:hover{
    color: lightblue;
}

.form-title-div {
    width: 75%;
    position: relative;
    margin: 0 auto;
}
.form-block {
    padding: 17px 17px;
    position: relative;
    line-height: 1.7em;
    font-size: 16px;
    height: auto;
    margin: 0 auto;
    width: 75%;
}

.form-div{
    position: relative;
    margin: 0 0 24px;
}

.field{
    width: 49%;
    display: inline-block;
}

.field.left{
    margin-right: 1%;
}

.field.right{
    float: right;
}

.form-label{
    display: block;
    font-family: ff-meta-serif-web-pro;
}

.button-wrapper{
    text-align: center
}
.button{
    align-items: flex-start;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
    color: #000;
    height: auto;
    width: auto;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.24em;
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 1em 2.5em;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width:640px){
    .main-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-block{
        width: 90%;
    }
    .table-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

input {
    padding: 12px;
    font-size: 12px;
    margin: 6px 0 4px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: #fafafa;
}

input.small {
    width: 100%;
    line-height: normal;
    float: left;
}

input.large {
    width: 100%;
    line-height: normal;
}

input.box {
    width: 100%;
    line-height: normal;
    min-height: 100px;
    resize: vertical;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.photo-container {
    position: relative;
    text-align: center;
    color: #fff;
    z-index:500;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.footer-wrapper{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}

.footer-item{
    font-family: Montserrat;
    margin: 0 2em;
}
.footer-item:hover{
    color: lightblue;
}

.Header-inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    justify-content: center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding-left:46px;
    padding-right:46px;
    align-items: center;
    position: absolute;
    z-index:1000;
    background-color: white;
    width:100%;
    height:70px;
}
.Header-nav{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:14px;
    letter-spacing:0em;
    font-family:Montserrat;
    font-weight:400;
    font-style:normal;
    font-size:12px;
    letter-spacing:.18em;
    text-transform:uppercase;
}

.Header-nav-inner{
    margin:-.618em -2em;
    -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
    -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
    -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
    -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
    transition:color 170ms ease-in-out, background-color 170ms ease-in-out
}

.Header-nav-item{
    margin:0 2em;
    padding:.618em 0;
}

.Header-nav-item:hover{
    color: lightblue;
}

.align-right{
    text-align: right;
    justify-content: flex-end;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    max-width: 100%
}

.align-left{
    text-align: left;
    justify-content: flex-start;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    max-width: 100%
}

.text-align-center {
    text-align: center;
}


@media screen and (max-width:960px){
    .Header-inner{
        padding-left:33px;
        padding-right:33px
    }
}
@media screen and (max-width:768px){
    .Header-inner{
        padding-left:21px;
        padding-right:21px
    }
}
@media screen and (max-width:640px){
    .Header-inner{
        padding-left:5px;
        padding-right:5px
    }
}
.Header--top{
    display:none;
    background:#fafafa;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto
}
.Header-inner--top{
    padding-top:20px;
    padding-bottom:20px
}

.Header-branding{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:27px;
    letter-spacing:0em;
    line-height:1em;
    font-family:Montserrat;
    font-weight:400;
    font-style:normal;
    font-size:17px;
    letter-spacing:.25em;
    line-height:1.4em;
    text-transform:uppercase;
    color:#000
}

.hidden {
    display: none;
}